
# Output files from R CMD build
/*.tar.gz

results/
output/
.snakemake/
*.log
logs/

config/Hotspot_Community_Summary_Final_1.csv
config/most_freq_cojo.snps
config/test_hotspot.csv
workflow/plink_r2.sh
